.canvas {
    background-color: lightgray;  
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-repeat: no-repeat; 
    overflow: hidden; 

    .row {
        width: 100%;
        // border: 1px green solid;
        box-sizing: border-box;
        flex-grow: 1; 

        .block {
            display: flex;
            flex-basis: calc(100%/18); 
            // border: 1px blue solid;
            box-sizing: border-box;

            .stripe {
                flex-basis: calc(100%/24); 
                // border: 1px red solid;
                box-sizing: border-box;
                background-repeat: no-repeat; 
                // filter: hue-rotate(-20deg)
            }
        }
    }
}

