.canvas {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-repeat: no-repeat; 
    overflow: hidden; 
    margin: 0 auto;
    background-position: center; 
    box-shadow: 0 0 7.5px 1px rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    .row {
        width: 100%;
        box-sizing: border-box;
        flex-grow: 1; 

        .block {
            display: flex;
            box-sizing: border-box;
           
            .stripe {
                box-sizing: border-box;
                background-repeat: no-repeat; 
            }
        }
    }
}

